<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.vegan.recipe.news.mapper.INewsMapper">
     
     	<sql id="search">
		<if test="condition == 'Vboard_title'">
			and Vboard_title LIKE CONCAT('%',#{keyword},'%') 
		</if>
		<if test="condition == 'Vboard_content'">
			and Vboard_content LIKE CONCAT('%',#{keyword},'%') 
		</if>
		<if test="condition == 'Vboard_writer'">
			and Vboard_writer LIKE CONCAT('%',#{keyword},'%') 
		</if>
	</sql>
     	
     <insert id="newsInsert">
     	insert into Vegan_board(
     	Vboard_no,
     	Vboard_title,
     	Vboard_writer,
     	Vboard_content,
     	Vboard_hit,
     	Vboard_like,
     	Vboard_type,
     	filename,
     	fileloca,
     	filerealname,
     	uploadpath
     	) values ((select * from (select max(Vboard_no)+1 from Vegan_board) next ),
     	#{Vboard_title},#{Vboard_writer},#{Vboard_content},0,0,0,#{filename},#{fileloca},#{filerealname},#{uploadpath})
    
     </insert>
     
       <!-- 메인용 리스트 -->
     
     <select id="main" resultType="com.vegan.recipe.news.VboardVO">
     	select * ,
     	(select count(*) from vegan_comment where bno = v.Vboard_no) as com_cnt,
		(select count(*) from vegan_like where board_no = v.Vboard_no) as like_cnt
     	from Vegan_board v
     	where vboard_type = 0
     	  	<include refid="search" />
     	order by Vboard_no desc
     	limit 0 ,  4
     </select>
     
     <select id="listNews" resultType="com.vegan.recipe.news.VboardVO">
     	select * ,
     	(select count(*) from vegan_comment where bno = v.Vboard_no) as com_cnt,
		(select count(*) from vegan_like where board_no = v.Vboard_no) as like_cnt
     	from Vegan_board v
     	where vboard_type = 0
     	  	<include refid="search" />
     	order by Vboard_no desc
     	limit #{pagecnt} ,  #{countPerPage}
     </select>
     
     <select id="Total" resultType="int">
     	select count(*) from Vegan_board
     	where vboard_type = 0
     	<include refid="search" />
     </select>
     
     <select id="newsDetail" resultType="com.vegan.recipe.news.VboardVO" >
     	select * from Vegan_board where Vboard_no = #{Vboard_no} and vboard_type = 0;
     </select>
     
     <update id="hitNews">
     	 update Vegan_board 
      set Vboard_hit = Vboard_hit + 1
      where Vboard_no = #{Vboard_no}
     </update>
     
       <!-- 게시물 삭제 -->
	  <delete id="deleteNews">
	  	delete from Vegan_board where Vboard_no = #{Vboard_no}
	  </delete>
  </mapper>
  
  
  
  
  
  
  
  
  
  
  
  
  