<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Vegan Title</title>
</head>
<body>
    
    <!-- 헤더 -->
    <header>
        <nav class="navbar">
            <div class="logo">logo!</div>
            <div>
                <ul class="nav-container">
                    <li class="nav-item">비건 레시피</li>
                    <li class="nav-item">비건 뉴스</li>
                    <li class="nav-item">비건이란?</li>
                    <li class="nav-item">비건 수다방</li>
                    <li class="nav-item">레시피 자랑하기</li>
                </ul>
            </div>

            <div class="search">
                <span class="input-search">검색창!</span>
                <span class="instargram">인스타그램</span>
            </div>
            
        </nav> 
    </header>

    <!-- 메인 이미지 -->

    <section class="main_banner">
        <div class="main"> 
            <div class="left_content">
                <img src="img/딸기 메인.jpg" alt="" width="1000px"  height="427px">
            </div>
    
            <div class="right_content">
                <div>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam at enim atque aliquam provident? Laborum est praesentium, voluptate explicabo a exercitationem quisquam at corporis minus veritatis animi impedit distinctio necessitatibus.
                    </p>
                </div>
                <div>
                    <button class="btn"> 버튼 </button>
                </div>
            </div>
        </div>
    </section>

    <!-- 비건 뉴스 -->

    <section class="vegan_news">
        <div class="vegan_con">
            <div class="news_title">
                <h1>VEGAN NEWS</h1>
            </div>
            <ul class="card_con">
                <li>
                    <div class="card_img1">
                        <img src="img/딸기 메인.jpg" alt="" width="356px" height="210px">
                    </div>
                    <div class="card_content1">
                        <div>title : 속보!@!@</div>
                        <div>Date : 2022.04.02</div>
                        <div>Content :A group of Finnish, Swedish, and Norwegian geologists provide critical new evidence for the timing of volcanic activity in the Karoo provin... </div>
                </li>
                <li>
                    <div class="card_img1">
                        <img src="img/딸기 메인.jpg" alt="" width="356px" height="210px">
                    </div>
                    <div class="card_content1">
                        <div>title : 속보!@!@</div>
                        <div>Date : 2022.04.02</div>
                        <div>Content :A group of Finnish, Swedish, and Norwegian geologists provide critical new evidence for the timing of volcanic activity in the Karoo provin... </div>
                    </div>
                </li>
                <li>
                    <div class="card_img1">
                        <img src="img/딸기 메인.jpg" alt="" width="356px" height="210px">
                    </div>
                    <div class="card_content1">
                        <div>title : 속보!@!@</div>
                        <div>Date : 2022.04.02</div>
                        <div>Content :A group of Finnish, Swedish, and Norwegian geologists provide critical new evidence for the timing of volcanic activity in the Karoo provin... 
                        </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="why">
        <div class="why_con">
            <div class="left_why">
                <img src="img/딸기 메인.jpg" alt="" width="600px" >
            </div>
            <div class="right_why">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde totam, autem enim fuga placeat minima nulla atque eligendi vero omnis harum, dolorem exercitationem laudantium odio sapiente qui beatae soluta iste.</p>
                <button> why vegan?</button>
            </div>
        </div>
    </section>


    <footer>
        <div class="footer"> 
            <p>석현이가 만듬</p>
            <p>핀란드에서 비건 레시피 사이트 만듬</p>
            <p>나중에 인스타그램 들어감</p>
        </div>
    </footer>
</body>
</html>